.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}
.card{
 
    background-color: pink;
    width:200px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    transition: transform 0.5s;
}
.card :hover{
    transform: scale(1.1);

}
